apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml

# Usar labels ao invés de commonLabels para evitar conflitos com seletores imutáveis
labels:
  - pairs:
      managed-by: kustomize
    includeSelectors: false

namespace: default  # Altere conforme necessário
